<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
>
    <testsuites>
<!--        <testsuite name="Unit">-->
<!--            <directory suffix="Test.php">./tests/Unit</directory>-->
<!--        </testsuite>-->
<!--        <testsuite name="Feature">-->
<!--            <directory suffix="Test.php">./tests/Feature</directory>-->
<!--        </testsuite>-->
        <testsuite name="Domain">
            <directory suffix="Test.php">./tests/Domain/Model</directory>
        </testsuite>
        <testsuite name="Application">
            <directory suffix="Test.php">./tests/Application</directory>
        </testsuite>

        <testsuite name="infra_EloquentRepository">
            <directory suffix="Test.php">./tests/infra/EloquentRepository</directory>
        </testsuite>
        <testsuite name="infra_mysqlquery">
            <directory suffix="Test.php">./tests/infra/mysqlquery</directory>
        </testsuite>

    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="DB_CONNECTION" value="mysql" />
        <server name="DB_DATABASE" value="lifepj_test" />
    </php>
</phpunit>
